---
import BaseLayout from "../layouts/BaseLayout.astro"
import Carousel from "../components/carousel"
import About from "../components/about/index.astro"
import ImageGallery from "../components/imageGallery"
import Subscribe from "../components/Subscribe"
import Map from "../components/BusinessLocation"
import InverseSVGIllustration from "../components/InverseSVGIllustration"
---

<BaseLayout pageTitle = "Home - Vely beauty">
<Carousel client:load/>
<About/>
<ImageGallery client:load/>
<Subscribe client:load/>
<div class = "py-20">
    <InverseSVGIllustration/>
    <Map client:load/>

</div>

</BaseLayout>